@import '../../styles/colors.scss';

.form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    label {
        color: $light;
        margin-bottom: 5px;     
    }
    textarea, input {
        background-color: $light;
        margin-bottom: 10px;
        width: 250px;
        padding: 10px;
    }
    button {
        margin: 20px auto 50px auto;
        background-color: $light-sec;
        color: $light;
        height: 50px;
        width: 150px;
    }
}

    @media (min-width: 991.98px) {
        .form {
            textarea, input{
                width: 500px;
            }
        }
        
    }