@import "./colors.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
p, h1, h2, h3 {
  color: $font;
}
a {
  color: $dark !important;
  text-decoration: none !important;
}
a.active{
  color: $light-sec !important;
  p{
    color: $light-sec !important;
  }
}
a:hover {
  color: $light-sec !important;
  transition: 0.5s ease-in;
}

img {
  max-width: 100%;
  display: block;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  /* gutter size offset */
  width: 80vw;
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.my-masonry-grid_column {
  padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > img {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
  height: auto;
}